<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>Journée Carrière CSS participants</title>
  <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/lunr/lunr.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div id="app">
  <section class="hero is-primary" style="background-image: url(assets/layered-waves-haikei.svg);">
    <div class="hero-body">
      <p class="title">
        Journée Carrière - Collège Saint-Sacrement
      </p>
      <p class="subtitle">
        Novembre 2021
      </p>

      <section class="section" id="search-section">
        <div class="field container">
          <p class="control has-icons-left">
            <input class="input is-rounded"
                   type="text"
                   placeholder="Recherche"
                   v-model="search"
                   @input="$emit('update:search', $event.target.value)">
            <span class="icon is-small is-left">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
          </p>
        </div>
      </section>

    </div>
  </section>



  <section class="section flex-container">
      <card v-for="participant in list" :key="participant.name" :participant="participant">
      </card>
  </section>
</div>
<footer class="footer">
  <div class="level">
    <div class="level-left">
      <a href="https://collegesaintsacrement.qc.ca/accueil">Collège Saint-Sacrement</a>
    </div>
    <div class="level-right">
      Novembre 2021
    </div>
  </div>
</footer>

<script src="./components/card.vue.js"></script>
<script src="./scripts/csvJSON.js"></script>
<!--<script src="./scripts/domainToTag.js"></script>-->
<script>
    Vue.createApp({
        data() {
            return {
                participants: [],
                list: [],
                search: '',
                searchIndex: null
            }
        },
        methods: {
            buildIndex(){
                var documents = this.participants
                this.searchIndex = lunr(function () {
                    this.ref('name')
                    this.field('name')
                    this.field('title')
                    this.field('description')
                    this.field('formation')
                    this.field('domain')

                    documents.forEach(doc => {
                        this.add(doc)
                    })
                })
            }
        },
        created() {
            fetch('./assets/data/participants.csv')
            .then(res => res.text())
            .then(data => {
                this.participants.push(...csvJSON(data));
                this.list.push(...this.participants);
                this.buildIndex()
            })
            .catch(err => console.log(err))
        },
        mounted() {
            this.$watch('search', () => {
                this.resuls = this.searchIndex.search(this.search + '* ' + this.search)
                console.log(this.resuls)
                this.list = []
                this.resuls.forEach(d => {
                    this.participants.forEach(p => {
                        if(d.ref === p.name) this.list.push(p)
                    })
                })
            })
        }
    })
        .component("card", Card)
        .mount("#app");
</script>
</body>
</html>
