body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#app {
    flex: 1;
}

.footer {
    padding-bottom: 3em;
}

.card-width {
    max-width: 24em;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    margin: 0.5em;
    height: 100%;
}
